@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Courier+Prime:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background-color: #222222 !important; }
  body h1,
  body h2,
  body h3,
  body h4 {
    color: #eeee;
    text-align: center; }
  body ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0; }
  body li {
    list-style-type: none; }
  body span,
  body p {
    color: #eeee;
    text-align: justify; }
  body a {
    color: #eeee;
    text-decoration: none; }

header {
  position: sticky;
  background-color: #33291e;
  height: 50px; }
  header nav,
  header ul {
    height: 100%; }
  header ul {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  header a {
    padding: 15px; }

main article {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #665c51; }
  main article img {
    display: block;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1;
    border: 1px solid #eeee;
    border-radius: 10px;
    margin: auto; }
  main article h4 {
    margin: 25px 0 5px; }
  main article p {
    margin: 0; }
  main article svg {
    color: #33291e;
    width: 16px;
    height: 16px; }
main section:nth-child(2) {
  padding: 25px;
  background-color: #998b7c; }
  main section:nth-child(2) div {
    padding-left: 10px;
    border-left: 5px solid #33291e; }
  main section:nth-child(2) a {
    color: #33291e;
    text-decoration: underline !important; }
main section:nth-child(3) {
  background-color: #665c51;
  display: flex;
  flex-direction: column;
  align-items: center; }
main section:last-child {
  padding: 10px;
  background-color: #998b7c; }
  main section:last-child div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; }
  main section:last-child i {
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
    background-color: #33291e;
    color: #eeee; }
main .tecnologias {
  display: flex;
  align-items: center; }
main .content-solar-system {
  width: 25%;
  aspect-ratio: 1; }
main .solar-system {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
main .planet-orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 50%; }
main .planet {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin: 50%; }
main #belt {
  height: 50%;
  width: 50%;
  animation: spin 50s infinite linear;
  margin-top: 50%; }

footer {
  background-color: #eeee; }
  footer ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto; }
  footer svg {
    width: 20px;
    height: 20px;
    margin: 10px;
    color: #222222; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@media (min-width: 768px) {
  section:nth-child(3) {
    padding: 50px; } }
@media (min-width: 1024px) {
  main article {
    flex-direction: row; }
    main article h4 {
      display: block; }
    main article div {
      display: flex;
      flex-direction: column;
      flex: 50%; }
      main article div div {
        justify-content: center; }
    main article ul {
      display: flex; }
  main section {
    background-color: white !important;
    flex-direction: row; }
  main .tecnologias {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around; }
  main .solar-system {
    width: 75%;
    height: 75%; } }

/*# sourceMappingURL=style.css.map */
