@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Courier+Prime:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/memphis-mini-dark.png");
}

h1,
h2,
h3,
h4 {
  font-family: "Bodoni Moda", serif;
  font-family: "Courier Prime", monospace;
  text-align: center;
  color: white !important;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
a::selection {
  background-color: #dc8173;
}

h3 {
  color: #dc8173;
}

p {
  color: white;
  text-align: justify;
}

img {
  width: 30px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

i {
  display: block;
  text-align: center;
}

.tecnologias {
  display: flex;
  align-items: center;
}

.content-solar-system {
  width: 25%;
  aspect-ratio: 1;
}

.solar-system {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.planet-orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid rgb(255, 255, 255, 0.25);
  border-radius: 50%;
}

.planet {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin: 50%;
}

#belt {
  height: 50%;
  width: 50%;
  animation: spin 50s infinite linear;
  margin-top: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.5s linear infinite both;
  animation: vibrate-1 0.5s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  main {
    width: 75%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  main {
    width: 50%;
    margin: 0 auto;
  }

  main .tecnologias {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
  }

  main .solar-system {
    width: 75%;
    height: 75%;
  }
}
